<body id="outstanding">

<h1>List of outstanding shoe orders</h1>

<table>
<tr id="headers">
    <th>Name</th><th>Address</th><th>Quantity</th></tr>

<% @orders.each do |order| %>

<tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.quantity %></td>
    
</tr>

<% end %>

</table>