body {background-color: pink;
  font-family: verdana;
}

body#outstanding{background-color:#a1d2f1;}

body#outstanding table tr#headers {background-color: black;color:white;}
th, td {padding:5px;border:1px solid black;}

label, h1 {font-family: 'Permanent Marker', cursive;}

body#outstanding h1 {font-family: verdana;}

form {background-color: white;
border: 2px red dotted;
padding: 10px;}

input.submit {font-size:2em;}